/* Slide 1 Styles */
.slide-1 {
    background: #2C5C54;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.slide-1 {
    .flex_wrap {
        display: flex;
        flex-direction: column;
    }
    .flex_row {
        .header {
            display: flex;
            gap: 2vw;
            align-items: center;
            justify-content: space-between;
        }
        a {
            color: #fff;
            text-decoration: none;
            font-size: 1.2vw;
            font-weight: 600;
            transition: all 0.3s ease;
            flex-shrink: 0;
        }
        a:hover {
            color: #000;
        }
    }
}
